
@{
    ViewBag.Title = "AdminLogin";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AgriHut</title>
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/aos.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="topbar">
        <nav class="navbar navbar-expand-sm  ">
            <a class="title navbar-brand textlogo" href="~/Primary/Index"><span class="fas fa-tractor animated bounceInLeft icn"></span>Agriculture Hat</a>
        </nav>
    </div>

    <div class="container body-content">
        <link href="~/Content/Login.css" rel="stylesheet" />
        <div class="login">
            <p class="lbl-login">
                Admin Login
            </p>
            @if (ViewBag.Error == "Error")
            {
                <p class="cerror" id="error">Login Failed: Check your login.</p>
            }



            <form style="padding: 2em 5em 5em; margin-left: 1em;" action="~/Authentication/LoginAdmin" method="POST">
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <input class="user-name" type="text" name="username" id="username" placeholder="Username" required />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        @*<td><label for="password">Password</label></td>*@
                        <td>
                            <input class="user-name" type="password" name="password" id="password" placeholder="Password" required />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn animate-btn" style="width: 100%; margin: 10px 0; background-color: #8294848f; font-weight: 700;" type="submit" value="Login" /></td>
                    </tr>
                    
                </table>
            </form>
        </div>

    </div>
    <footer class="page-footer font-small unique-color-dark" style=" background-color: #212529; color: white; margin-bottom: -20px; padding-top: 2em; ">
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="font-weight-bold">AgricultureHut</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        In this site, a farmer and buyer can interact with each other to buy and sell crops.
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> BGCTUB, Chandonaish, Bangladesh
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> bgctub@edu.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 01 123 345 67
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 01 234 567 89
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 - 2021 Copyright:
            <a href="#"> Nishat #Fianl Project</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->






</body>
</html>@*
    <script src="~/Scripts/fontawesome/fontawesome.js"></script>*@
<script src="~/Scripts/fontawesome/all.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/aos.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#error").hide(1000).empty();
            }, 5000);
        });
    </script>