
@{
    Layout = "~/Views/Shared/_Layout3.cshtml"; 
}

<link href="~/Content/Login.css" rel="stylesheet" />
<div class="register" style="background-image: url('');">
    <p class="lbl-login" style="color: #e8a998d9;">Buy Crops</p>
    @if (ViewBag.Error != null)
{
    <p class="cerror" style="margin: 0;text-align: center; background-color: #bbecc2; padding: 9px; color: green" id="error">@ViewBag.Error</p>
}
    <form style="padding: 2em 5em 5em; margin-left: 5em;" id="register" action="~/Admin/BoughtCrops" method="POST">
        <table>
            <tr>
                <td>
                    <label class="lbl-reg">Farmer Name</label>
                </td>
                <td>
                    <label class="user-name" >@ViewBag.Crop.farmer.Name</label>
                   </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" >Village</label></td>
                <td>
                    <label class="user-name">@ViewBag.Crop.farmer.Village</label>
                
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg">Ward No</label></td>
                <td>
                    <label class="user-name">@ViewBag.Crop.farmer.WardNo</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg">District</label></td>
                <td>
                    <label class="user-name">@ViewBag.Crop.farmer.District</label>
                </td>
            </tr>

            <tr>
                <td><label class="lbl-reg" >Age</label></td>
                <td>
                    <label class="user-name">@ViewBag.Crop.farmer.Age</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" >Phone</label></td>
                <td>
                    <label class="user-name">@ViewBag.Crop.farmer.Phone</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" >NID</label></td>
                <td>
                    <label class="user-name">@ViewBag.Crop.farmer.Nid</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" >Crops</label></td>
                <td>
                    <label class="user-name">@ViewBag.Name</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" >Quantity</label></td>
                <td>
                    <label class="user-name" id="quantity">@ViewBag.Crop.Quantity</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" >Price</label></td>
                <td>
                    <label class="user-name" id="unit">@ViewBag.Crop.Price</label>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg" for="amount">Buying Quentity</label></td>
                <td>
                    <input type="hidden" name="id" value="@ViewBag.Crop.Id"/>
                    <input type="number" class="user-name" name="amount" id="amount" min="1" max="@ViewBag.Crop.Quantity" placeholder="Enter Buying Amount"/>
                </td>
            </tr>
            <tr>
                <td><label class="lbl-reg">Buying Price</label></td>
                <td>
                    <label class="user-name" id="buyingprice"></label>
                </td>
            </tr>
            

            <tr>
                <td></td>
                <td><input class="btn animate-btn" style="background-color: #1ab74f85; width: 100%; margin: 10px 0; font-weight: 700;" type="submit" value="BUY" /></td>
            </tr>

        </table>
    </form>

</div>
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $("#error").hide(1000).empty();
            }, 5000);

            $("#amount").on('change', function () {
                
                var unit = parseInt($("#unit").text());
                var quantity = parseInt($("#quantity").text());
                var tb = document.getElementById('amount');
                var amount = parseInt(tb.value);
                var x = document.getElementById("buyingprice");
                if (amount > quantity) {
                    tb.value = quantity;
                    x.innerHTML = unit * quantity;
                }
                else if (amount < 1) {
                    tb.value = 1;
                    x.innerHTML = unit;
                } else {
                    x.innerHTML = unit * amount;
                }
           });
        });

    </script>

}
